/* This file is for me to play with */

/* working as a cache */

/* body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
} */



header, footer {
  background-color: #00274C;
  color: #f5f5f5;
}


/* make the whole header sticky */
header {
  position: sticky;
  top: 0;
}

/* skip to main content */
.skip_main {
  position: absolute;
  top: 0;
  left: -10000px; /* Initially hide off-screen */
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: #FFCB05; /* Button background */
  color: #00274C; /* Button text color */
  padding: 10px;
  text-decoration: none;
  z-index: 9999;
  transition: transform 0.3s ease; /* Smooth transition */
}

.skip_main:focus {
  position: absolute;
  top: 0px;
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  transform: translateX(0%); /* Move into view */
  background-color: #FFCB05; /* Example button style */
  color: #00274C;
}


div.headerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 16px;
  padding-right: 16px;
  column-gap: 16px;
}

img.headerIMG {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 48px;
}

/* use flex to create 1D navbar */
header nav ul{
    display: flex;
    background-color: #00274C;
}

header nav ul li a{
    display: block;
    color: white;
    font-size: 16px;
    padding: 14px 16px;
}

header nav ul li a:hover{
    background-color: #131516;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.container section {
  grid-column: 1 / -1;
}

footer img.footerLogo {
  height: 50px;
}